<p-toast></p-toast>
<app-header></app-header>
<div class="container card" style="padding-top: 10px;">
    <form #bookingForm="ngForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="bookingId">Booking Id</label>
                <input type="text"  [disabled]="!idEdit" pInputText class="form-control" required [(ngModel)]="booking.bookingId" name="bookingId">
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="trainNumber">Train Number</label>
                <input id="" type="text" [disabled]="!editable" pInputText class="form-control" 
                        required [(ngModel)]="booking.trainNumber" name="trainNumber" pattern=".{5}"
                        #trainNumber="ngModel">
                <small class="text-danger" [class.d-none]="trainNumber.valid || trainNumber.untouched" >
                    Train number required & must be 5 digits.
                </small> 
            </div>
            <div class="p-field p-col-5">
                <label for="trainName">Train Name</label>
                <input type="text" [disabled]="!editable" pInputText class="form-control" 
                        required [(ngModel)]="booking.trainName" name="trainName"
                        #trainName="ngModel">
                <small class="text-danger" [class.d-none]="trainName.valid || trainName.untouched" >
                    Field cannot be empty.
                </small> 
            </div>
            <div class="p-field p-col-4">
                <label for="ticketPrice">Ticket Price</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">₹</span>
                    <input type="text" [disabled]="!editable" pInputText class="form-control" 
                            required [(ngModel)]="booking.ticketPrice" name="ticketPrice" #ticketPrice="ngModel" pattern="[0-9].{2,}">      
                </div>
                <small class="text-danger" [class.d-none]="ticketPrice.valid || ticketPrice.untouched" >
                    Field cannot be empty.
                </small>
            </div>
            <div class="p-field p-col-3">
                <label for="passenger">Passenger Details</label>
                <div class="p-inputgroup">
                    <!-- <p-table [value]="passengerName" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Passenger Name</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-passengerName>
                            <tr>
                                <td>{{passengerName}}</td>
                            </tr>
                        </ng-template>
                    </p-table> -->
                    <input type="text" [disabled]="!editable" pInputText class="form-control" 
                     [(ngModel)]="passengerName" name="passenger"
                        #passenger="ngModel">
                <span class="p-inputgroup-addon">
                    <button pButton pRipple routerLink="/login" icon="pi pi-plus" label="Add"
                        class="p-button-secondary mr-2" pTooltip="Add Passenger">
                </button>
                </span>
                </div>
                <small class="text-danger" [class.d-none]="passenger.valid || passenger.untouched" >
                    Field cannot be empty.
                </small> 
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <label for="departureDate">Departure Date</label>
                <p-calendar [disabled]="!editable" required  [(ngModel)]="booking.departureDate" inputId="dob" name="departureDate" [minDate]="minDate" [maxDate]="maxDate"></p-calendar> 
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="departureStation">Departure Station</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.departureStation" name="departureStation"> 
            </div>
            <div class="p-field p-col-3">
                <label for="arrivalStation">Arrival Station</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.arrivalStation" name="arrivalStation"> 
            </div>
            <div class="p-field p-col-3">
                <label for="stop1">Stop 1</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.stop1" name="stop1"> 
            </div>
            <div class="p-field p-col-3">
                <label for="stop2">Stop 2</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.stop2" name="stop2"> 
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <label for="returnBooking">Return Booking</label>
                <div class="p-formgroup-inline">
                    <div class="p-field-radiobutton">
                    <p-radioButton [disabled]="!editable" name="returnBooking" (click)="isReturn()" value=true [(ngModel)]="booking.returnBooking"></p-radioButton>
                    <label for="returnYes">Yes</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton [disabled]="!editable" name="returnBooking" (click)="isNotReturn()" value=false [(ngModel)]="booking.returnBooking"></p-radioButton>
                        <label for="returnNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isRet" class="p-fluid p-formgrid p-grid">
            <div  class="p-field p-col-4">
                <label for="returnDate">Return Date</label>
                <p-calendar [disabled]="!editable" required [(ngModel)]="booking.returnDate" 
                            (click)="dateValidation()" [minDate]="minDate" [maxDate]="maxDate" 
                            name="returnDate" #returnDate></p-calendar>
                <!-- <small class="text-danger" [class.d-none]="returnDate.valid">Date should be greater than Departure date</small>  -->
            </div>
            <div class="p-field p-col-4">
                <label for="returnStop1">Return Stop 1</label>
                <input [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.returnStop1" name="returnStop1"> 
            </div>
            <div class="p-field p-col-4">
                <label for="returnStop2">Return Stop 2</label>
                <input [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.returnStop2" name="returnStop2"> 
            </div>
        </div>
        <div *ngIf="!editable" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-4">
                <label for="createdSource">Created Source</label>
                <input [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.createdSource" name="createdSource"> 
            </div>
            <div class="p-field p-col-4">
                <label for="createdSourceType">Created Source Type</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.createdSourceType" name="createdSourceType"> 
            </div>
            <div class="p-field p-col-4">
                <label for="createdDttm">Created Date & time</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.createdDttm" name="createdDttm"> 
            </div>
            <div class="p-field p-col-4">
                <label for="modifiedSource">Modified Source</label>
                <input [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.modifiedSource" name="modifiedSource"> 
            </div>
            <div class="p-field p-col-4">
                <label for="modifiedSourceType">Modified Source Type</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.modifiedSourceType" name="modifiedSourceType"> 
            </div>
            <div class="p-field p-col-4">
                <label for="modifiedDttm">Modified Date & time</label>
                <input id="" [disabled]="!editable" type="text" pInputText class="form-control" required [(ngModel)]="booking.modifiedDttm" name="modifiedDttm"> 
            </div>
        </div>
        <button *ngIf="!editable" pButton pRipple label="Back" icon="pi pi-arrow-left" 
                 class="p-button-secondary p-button-sm" (click)="goToBookingList()" 
                 pTooltip="Back to list screen" tooltipPosition="left">
        </button>
        <button *ngIf="!editable"  pButton pRipple label="Edit" 
                icon="pi pi-pencil" class="p-button-info p-button-sm" 
                style="margin-left: 5px;" (click)="onEdit()" 
                pTooltip="Click to edit record" tooltipPosition="right">
        </button>
        <button *ngIf="editable" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger p-button-sm"
                (click)="viewBooking(booking.bookingId)" pTooltip="Back to list screen" tooltipPosition="left">
        </button>
        <button *ngIf="editable" [disabled]="bookingForm.invalid || bookingForm.untouched" pButton pRipple label="Save" 
                icon="pi pi-check" class="p-button-success p-button-sm" 
                style="margin-left: 5px;" (click)="addBooking()" 
                pTooltip="Click to save record" tooltipPosition="right">
        </button>
    </form>
</div>
<app-footer></app-footer><br><br>

